#title {
    font-style: bold;
    font-size: 2vw;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#rack {
    letter-spacing: 10px;
    color: blue;;
}

.jumbotron {
    padding: 2px;
}

#letters {
    width: 50%;
    height: 60px;
}



